@import url('https://fonts.googleapis.com/css?family=Roboto');
* {
	border: 0;
	padding: 0;
	margin: 0;
	outline: 0;
	font-size: 100%;
}
@font-face {
  font-family: "Roboto";  
  font-weight: normal;
  font-style: normal; }

body {
	background: gray;
	font-family: "Roboto", sans-serif;
}
#container {
	width: 1000px;
	margin: 0 auto;
	background: #fff;
	padding: 18px;
}
#foot-tab {
	width: 100%;
	margin: 0 auto;
	border-top: 1px solid #d8d8d8;
	border-bottom: 1px solid #d8d8d8;
	border-collapse: collapse;	

}
.foot-tab__row {
	border-bottom: 1px solid #d8d8d8;
}
.foot-tab__title {
	width: 40px;
	padding: 0 5px;
	color: #3383ab;
	height: 30px;
	text-align: right;
	font-weight: 600;
	font-size: 14px;
	cursor: pointer;	
}
.foot-tab__title-team {
	min-width: 150px;
	color: #000;
	text-align: left;
	padding-left: 10px;
	font-size: 14px;
	cursor: pointer;	 
}
#foot-tab td {
	height: 40px;
	text-align: right;
	padding: 0 5px;
	font-size: 14px;	
}
#foot-tab td:nth-child(2) {
	text-align: left;
	color: #006496;
	padding-left: 10px;
	border-right: 1px solid #d8d8d8;
}
#foot-tab td:first-child, #foot-tab th:first-child {
	text-align: left;
	padding-left: 10px;
}
#foot-tab td:last-child, #foot-tab th:last-child {
	background: #f9f9f7;
}

#foot-tab a {
	color: #006496;
	margin-left: 5px;
	text-decoration: none;
	vertical-align: bottom;
}
.text {margin-top: 10px; font-size: 11px;}
.text_bold {font-weight: bold;}
@media only screen and (max-width: 1060px) {
    #container {
	width: 100%;
	padding: 0;
	}
}
@media only screen and (max-width: 576px) {
    #foot-tab th:nth-child(4), #foot-tab td:nth-child(4) {display: none;}
    #foot-tab th:nth-child(5), #foot-tab td:nth-child(5) {display: none;}
    #foot-tab th:nth-child(6), #foot-tab td:nth-child(6) {display: none;}
}
@media only screen and (max-width: 436px) {
    #foot-tab th:nth-child(7), #foot-tab td:nth-child(7) {display: none;}
    #foot-tab th:nth-child(8), #foot-tab td:nth-child(8) {display: none;}
}